APP_NAME=pm2etml-apps
APP_ENV=local
APP_KEY=
APP_DEBUG=true
DEBUGBAR_ENABLED=true

#NightWatch auditing (used on demand)
#NIGHTWATCH_TOKEN=...
#NIGHTWATCH_REQUEST_SAMPLE_RATE=0.1
#NIGHTWATCH_COMMAND_SAMPLE_RATE=1.0
#NIGHTWATCH_EXCEPTION_SAMPLE_RATE=1.0

APP_URL=http://localhost

APP_FAKER_LOCALE=fr_CH
APP_FALLBACK_LOCALE=fr
APP_LOCALE=fr
APP_TIMEZONE=europe/zurich
APP_MAINTENANCE_DRIVER=file
APP_MAINTENANCE_STORE=database
BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=pm2
DB_USERNAME=root
DB_PASSWORD=123

BROADCAST_CONNECTION=log
#disables cache for dev (avoid issues with unit tests...)
CACHE_STORE=null
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

MEMCACHED_HOST=

REDIS_HOST=
REDIS_PASSWORD=
REDIS_PORT=

MAIL_MAILER=smtp
MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=noreply@pm2etml.ch
MAIL_FROM_NAME="${APP_NAME}"

AUTHENTICATOR=App\Services\O365EloquantMixTestUserProvider
#FAKE_AUTHENTICATOR_PASSWORD=123456789

#STANDARD AUTH with external service
#AUTHENTICATOR_ENDPOINT=outlook.office365.com:993
#AUTHENTICATOR_ENDPOINT_V2=smtp.office365.com:587

#SSO
#set standard login for tests
SSO_LOGIN=false

#other data for openid integration
#SSO_CLIENT_ID=1234
#SSO_CLIENT_SECRET=xx
#SSO_REDIRECT_URI="${APP_URL}/auth/callback"
#SSO_TENANT_ID=abcd

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

#let dev work ;-)
AUTH_PASSWORD_TIMEOUT=10800
SMARTIES_ENABLED=true

#to auto translate i18n... php artisan i18n:scan --auto-translate
DEEPL_API_KEY=YOUR_KEY
