// Font-Awesome
$fa-font-path:"~fa/../webfonts";
@import "~fa/fontawesome.scss";
@import "~fa/solid.scss";
@import "~fa/regular.scss";
@import "~fa/brands.scss";

// Dropzone
@import "dropzone/src/dropzone.scss";
